    body {
        margin: 0;
        color: white !important;
        font-family: 'Raleway';
    }
    
    .navbar {
        background-color: black!important;
    }
    
    .navbar-brand img {
        width: 100px;
    }
    
    input {
        width: 150px;
        height: 50px;
        text-align: center;
        border-radius: 5px;
        border: none;
    }
    
    .calender span {
        font-size: 25px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .calender span:hover {
        opacity: 50%;
    }
    
    .headDiv {
        background-image: url(img/abstract3.png);
        background-position: center;
        height: 100vh;
    }
    
    .bodyDiv {
        background-image: url(img/abstract1.png);
        color: white;
        background-position: center;
    }
    
    .canvasDiv {
        display: flex;
        justify-content: center;
        background-color: rgb(37, 46, 51);
        padding: 20px;
        border-radius: 2px;
    }
    
    .centerDiv {
        background-color: rgb(37, 46, 51);
    }
    
    .chartHolder {
        border-radius: 5px;
        background-color: rgb(201, 210, 215);
        opacity: 90%;
        width: 80%;
        margin-top: 50px;
        padding: 15px;
    }
    
    .history {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-image: url(img/abstract1.png);
        color: white;
        background-position: bottom;
        height: 500px;
    }
    
    .history h2 {
        background-color: rgb(51, 53, 55);
        padding: 20px;
        border-radius: 5px;
    }
    
    .history h2:hover {
        opacity: 50%;
    }
    
    .d-none {
        display: none;
    }
    
    #myChart {
        color: white !important;
    }
    
    .bodyChild {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .news {
        border-radius: 5px;
        background-color: rgb(53, 55, 56);
        opacity: 90%;
        width: 80%;
        padding: 15px;
        text-align: center;
        margin: 100px;
    }
    
    .bodyChild h1 {
        font-size: 80px;
        font-weight: bold;
    }
    
    .date {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }
    
    .calender {
        padding: 50px;
    }
    
    .stockToday {
        margin-top: 30px;
        font-size: 20px;
    }
    
    .calender span {
        text-align: center;
    }
    
    .btn {
        margin-top: 5px;
        width: 150px;
        height: 50px;
        background-color: rgb(51, 53, 55) !important;
    }
    
    #container {
        width: 100%;
        height: 600px;
        margin: 0;
        padding: 0;
    }
    
    .centerDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*.coin {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 100px;
    margin-left: 25%;
    margin-right: 25%;
}

.coin td,
.coin th {
    text-align: center;
    border: 1px solid #ddd;
    padding: 8px;
    width: 600px;
}

.coin tr:nth-child(even) {
    background-color: #f2f2f2;
}

.coin tr:hover {
    background-color: #ddd;
}

.coin th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(10, 102, 194);
    color: white;
    width: 600px;
}*/