    body {
        margin: 0;
        color: white !important;
        font-family: 'Raleway';
    }
    
    .navbar {
        background-color: black!important;
    }
    
    .navbar-brand img {
        width: 100px;
    }
    
    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .header img {
        width: 150px;
        margin-top: 100px;
        margin-right: 20px;
    }
    
    input {
        width: 150px;
        height: 50px;
        text-align: center;
        border-radius: 5px;
        border: none;
    }
    
    .calender span {
        font-size: 25px;
        font-weight: bold;
        padding-right: 10px;
    }
    
    .calender span:hover {
        opacity: 50%;
    }
    
    .headDiv {
        background-image: url(img/wallpaper.png);
        background-position: center;
        height: 100vh;
        text-align: center;
    }
    
    .headline {
        font-size: 150px;
        padding-top: 80px;
    }
    
    .icons {
        display: flex;
        justify-content: center;
        margin-top: 100px;
    }
    
    .icons img {
        margin: 10px 50px 0 50px;
        padding: 50px;
        width: 200px;
    }
    
    .navigation {
        cursor: pointer;
        margin-left: 15px;
        margin-right: 15px;
        padding-bottom: 20px;
        box-shadow: 0px 0px 1px rgb(211 206 206 / 50%);
    }
    
    .navigation img {
        opacity: 80%;
    }
    
    .navigation:hover {
        opacity: 50%;
    }
    
    .navigation span {
        font-size: 40px;
    }
    
    .underheadline {
        font-size: 80px;
    }
    
    .bodyDiv {
        background-color: white;
        color: white;
    }
    
    .canvasDiv {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        background-color: rgb(4, 19, 105);
        padding: 20px;
        border-radius: 2px;
    }
    
    .buttonDiv button {
        margin: 40px 20px 0 20px;
    }
    
    .centerDiv {
        background-color: rgb(37, 46, 51);
    }
    
    .coin {
        margin: 100px;
        padding: 50px 200px;
        box-shadow: 0 2px 4px rgb(211 206 206 / 50%);
    }
    
    .chartHolder {
        background-color: white;
        opacity: 90%;
        width: 80%;
        padding: 15px;
        margin-top: 50px;
    }
    
    .history {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color: rgb(4, 19, 105);
        color: white;
        padding-top: 50px;
    }
    
    .history h2:hover {
        opacity: 50%;
    }
    
    .d-none {
        display: none;
    }
    
    #myChart {
        padding: 50px;
        color: white !important;
    }
    
    #myChartBar {
        color: white !important;
    }
    
    .bodyChild {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    
    .news {
        box-shadow: 0 2px 4px rgb(211 206 206 / 50%);
        background-color: rgb(59, 228, 213);
        opacity: 90%;
        width: 80%;
        padding: 15px;
        text-align: center;
        margin: 100px;
    }
    
    .bodyChild h1 {
        font-size: 80px;
        font-weight: bold;
    }
    
    .date {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .history button {
        margin-top: 50px;
    }
    
    .calender {
        padding: 50px;
    }
    
    .stockToday {
        margin-top: 30px;
        font-size: 20px;
    }
    
    .calender span {
        text-align: center;
    }
    
    .btn {
        margin-top: 5px;
        width: 150px;
        height: 50px;
        background-color: rgb(4, 19, 105) !important;
    }
    
    #container {
        width: 100%;
        height: 600px;
        margin: 0;
        padding: 0;
    }
    
    .centerDiv {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    table {
        color: gray;
    }
    
    th,
    td {
        color: gray;
    }
    
    input {
        padding-right: 20px;
    }
    
    .currencyConverter {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: aqua;
        height: 400px;
    }
    
    .currencyField {
        display: flex;
        align-items: center;
        margin: 20px 0px;
        background-color: white;
        color: gray;
    }
    
    .currencyField span {
        margin: 10px;
        font-size: 20px;
    }
    
    .calc {
        margin-left: 0px;
    }
    
    .convertDiv {
        text-align: center;
        background-color: aqua;
        height: 800px;
    }
    
    .convertDiv h2 {
        color: rgb(4, 19, 105);
        padding-top: 50px;
    }